<!doctype html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Native CSS Styling linked from static/css/style.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>{% block title %}BimzCam - Retro Digicam & Aksesoris Solo{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <!-- Main Render Body -->
    {% block content %}{% endblock %}

    {% block scripts %}{% endblock %}
  </body>
</html>
